/* mikacolor preferences */
$primary: #202124;
$secondary: #fff;
$tertiary: #d1b000;

$transparent: #00000000;
$skyBlue: rgb(0, 179, 219);
$dark: #000000;
$lightNavy: #112240;
$armyGreen: #202124;
/* #020c1b; */
$green: #d1b000;
/* #64ffda; */
$golden: #d1b000;
$lightDark: #202124;
/* #FFD700; */
/* #4b5320; */

/* media querry breakpoints */
$s: 480px;
$m: 768px;
$l: 769px;


/* fonts */
$sans-main: "calibre", "Inter", "San Francisco", "SF Pro Text", "sans-serif";
