/* mikacolor preferences */
:root {
  --clr-transparent: #00000000;
  --clr-skyBlue: rgb(0, 179, 219);
  --clr-dark: #000000;
  --clr-lightNavy: #112240;
  --clr-armyGreen: #202124;
  /* #020c1b; */
  --clr-green: #d1b000;
  /* #268f8e; */
  --clr-golden: #d1b000;
  /* #268f8e; */
  --clr-lightDark: #202124;
  /* #FFD700; */
  /* #4b5320; */
}

/* media querry breakpoints */
:root {
  --s: 480px;
  --m: 768px;
  --l: 769px;
}

/* fonts */

:root {
  --sans-main: "calibre", "Inter", "San Francisco", "SF Pro Text", "sans-serif";
}

*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--sans-main);
  /* height: 100%; */
  scroll-behavior: smooth;
  /* "Open Sans", sans-serif; */
}
